/* precentege bar */
.outer {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  height: 1.5rem;
  width: 18rem;
  border-radius: 10px;
  background-color: var(--secondery-color);
}
.inner {
  position: relative;
  top: 0.25rem;
  left: 0.2rem;
  height: 1rem;
  width: 15rem;
  border-radius: 10px;
  color: #145da0;
}

.inner::after {
  font-size: 0.8rem;
  color: var(--background-color);
  position: absolute;
  content: "";
  left: 15.2rem;
}

.inner.js {
  width: 15rem;
}
.inner.js::after {
  content: "90%";
  left: 15.2rem;
}
.inner.py {
  width: 14rem;
}
.inner.py::after {
  content: "80%";
  left: 14.2rem;
}
.inner.html {
  width: 15rem;
}
.inner.html::after {
  content: "90%";
  left: 15.2rem;
}
.inner.css {
  width: 15.4rem;
}
.inner.css::after {
  content: "95%";
  left: 15.6rem;
}
.inner.react {
  width: 13rem;
}
.inner.react::after {
  content: "75%";
  left: 13.2rem;
}
.inner.node {
  width: 15rem;
}
.inner.node::after {
  content: "90%";
  left: 15.2rem;
}
