/* setting vars */
:root {
  --primary-color: #145da0;
  --secondery-color: #b1d4e0;
  --background-color: #0c2d48;
  --overlay-color: rgba(0, 0, 0, 0.75);
  --pad-1: 2rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  color: var(--secondery-color);
  background-color: var(--background-color);
}
/* remove scroll bar */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* first page */
.landpage {
  height: 100vh;
  margin: 0.5rem;
  align-items: center;
}
/* grid setup */
.landpage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.navbar {
  grid-area: 1 / 1 / 2 / 3;
}
.header {
  grid-area: 2 / 1 / 5 / 2;
}
.imgcontainer {
  grid-area: 2 / 2 / 5 / 3;
}
.social.showcase {
  grid-area: 5 / 1 / 7 / 3;
}

/* navbar setup */
.navbar {
  width: 50vw;
  padding: var(--pad-1);
  align-self: flex-start;
  justify-self: center;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}
.navbar div {
  cursor: pointer;
}

/* header setup */
.header {
  padding-left: 2rem;
}
.header h1 {
  font-size: 4vw;
}
.header h3 {
  padding-top: 1rem;
  font-weight: 300;
}
.header a {
  margin-left: 30%;
  text-align: center;
  border-radius: 10px;
  padding: 0.3rem;
  border: var(--secondery-color) solid 2px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s ease;
}
.header a:hover {
  color: var(--background-color);
  background-color: var(--secondery-color);
}
/* profile image setup */
.imgcontainer {
  padding: var(--pad-1);
  max-width: 20rem;
  max-height: 20rem;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  background: url(/assets/img/WhatsApp\ Image\ 2021-11-04\ at\ 7.28.51\ PM.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.65);
}

/* social showcase */
.social.showcase {
  padding: 0.5rem;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-self: center;
  justify-self: center;
  border-radius: 1rem;
}
.social.showcase i {
  cursor: pointer;
}

.social.showcase i:hover {
  transition: 0.3s ease;
  transform: scale(1.2);
}

/* aboutpage*/
.aboutpage {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "head head "
    "article tools "
    "article tools ";
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 2fr;
}

.headcontianer {
  border: red 2px solid;
  grid-area: head;
  background-color: var(--secondery-color);
  max-height: 20vh;
}
.headcontianer h1 {
  color: var(--background-color);
  text-align: center;
  font-size: 7vw;
  min-height: 20vh;
  background-color: transparent;
}

.main {
  border: red 2px solid;
  grid-area: article;
}

.tools.showcase {
  border: red 2px solid;
  grid-area: tools;
}

.outer {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  height: 1.5rem;
  width: 18rem;
  border-radius: 10px;
  background-color: darkgray;
}
.inner {
  position: absolute;
  top: 0.3rem;
  left: 0.2rem;
  height: 1rem;
  width: 15rem;
  border-radius: 10px;
  color: #145da0;
}
