/* setting vars */
:root {
  --primary-color: #145da0;
  --secondery-color: #b1d4e0;
  --background-color: #0c2d48;
  --overlay-color: rgba(0, 0, 0, 0.4);
  --pad-1: 2rem;
}
/* test */
.test {
  border: red solid 2px;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  color: var(--secondery-color);
  background-color: var(--background-color);
}
/* removes focus outline */
*:focus {
  outline: none;
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}
html,
body {
  scroll-snap-type: y mandatory;
}
/* remove scroll bar */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* first page */
.landpage {
  height: 100vh;
  margin: 0.5rem;
  align-items: center;
}
/* grid setup */
.landpage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.navbar {
  grid-area: 1 / 1 / 2 / 3;
}
.header {
  grid-area: 2 / 1 / 5 / 2;
}
.imgcontainer {
  grid-area: 2 / 2 / 5 / 3;
}
.social.showcase {
  grid-area: 5 / 1 / 7 / 3;
}

/* navbar setup */
.navbar {
  width: 50vw;
  padding: var(--pad-1);
  align-self: flex-start;
  justify-self: center;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}
/* navbar transiton */
.navbar div {
  align-self: center;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.navbar div::before {
  content: "";
  position: absolute;
  border-top: 3px solid;
  width: 100%;
  height: 100%;
  top: 0;
  right: 1px;
  transform: translateX(-100%);
  transition: all 1s;
}
.navbar div::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 1px;
  transform: translateX(100%);
  transition: all 0.6s;
}

.navbar div:hover::after {
  transform: translateX(0);
}
.navbar div:hover::before {
  transform: translateX(0);
}

/* header setup */
.header {
  padding-left: 2rem;
}
.header h1 {
  font-size: 4vw;
}
.header h3 {
  padding-top: 1rem;
  font-weight: 300;
}
.header a {
  margin-left: 30%;
  text-align: center;
  border-radius: 10px;
  padding: 0.3rem;
  border: var(--secondery-color) solid 2px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s ease;
}
.header a:hover {
  color: var(--background-color);
  background-color: var(--secondery-color);
}
/* profile image setup */
.imgcontainer {
  padding: var(--pad-1);
  max-width: 20rem;
  max-height: 20rem;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  background: url(/assets/img/WhatsApp\ Image\ 2021-11-04\ at\ 7.28.51\ PM.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.65);
}

/* social showcase */
.social.showcase {
  padding: 0.5rem;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-self: center;
  justify-self: center;
  border-radius: 1rem;
}
.social.showcase i {
  cursor: pointer;
}

.social.showcase i:hover {
  transition: 0.3s ease;
  transform: scale(1.2);
}

/* aboutpage*/
.aboutpage {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "head head "
    "article article"
    "tools tools ";
  grid-template-rows: 1fr 4fr 4fr;
  grid-template-columns: 1fr;
}

.headcontainer {
  background-color: var(--secondery-color);
  grid-area: head;
  max-height: 20vh;
}
.headcontainer h1 {
  color: var(--background-color);
  text-align: center;
  font-size: 5vw;
  min-height: 10vh;
  background-color: var(--secondery-color);
}

.main {
  justify-self: center;
  align-self: center;
  width: 60vw;
  padding: var(--pad-1);
  grid-area: article;
}

.tools.showcase {
  justify-self: center;
  align-self: center;
  width: 30rem;
  grid-area: tools;
  display: grid;
  gap: 0.8rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(6 1fr);
  padding: var(--pad-1);
}

.tools div {
  justify-self: right;
  align-self: center;
}

/* projects page */
.projectspage {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "head"
    "projects";
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr;
}

.projectspage > .headcontainer {
  grid-area: head;
  background-color: var(--secondery-color);
  max-height: 20vh;
}
.headcontainer h1 {
  color: var(--background-color);
  text-align: center;
  font-size: 5vw;
  min-height: 10vh;
  background-color: transparent;
}
.projectspage .projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.project {
  cursor: pointer;
  text-align: center;
  color: var(--background-color);
  position: relative;
  height: 13rem;
  width: 15rem;
  background-color: var(--secondery-color);
  border: 2px solid var(--secondery-color);
  border-radius: 10px;
  justify-self: center;
  align-self: center;
  -webkit-box-shadow: 0px 0px 25px -6px #000000;
  box-shadow: 0px 0px 25px -6px #000000;
}
.project:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.project::before {
  background-color: var(--overlay-color);
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.project::after {
  color: var(--secondery-color);
  content: "Project name";
  position: absolute;
  right: 4rem;
  bottom: -2rem;
}

/* contact page */
.contactpage {
  width: 100vw;
}
.contactpage > .headcontainer {
  grid-area: head;
  background-color: var(--secondery-color);
  max-height: 20vh;
}
.headcontainer h1 {
  color: var(--background-color);
  text-align: center;
  font-size: 5vw;
  min-height: 10vh;
  background-color: transparent;
}

.info {
  padding: var(--pad-1);
  text-align: center;
  min-height: 15rem;
}
.info > form > input {
  border: var(--secondery-color) 2px solid;
  border-radius: 10px;
  padding: 1rem;
}
.info > form,
h3 {
  margin: var(--pad-1);
  padding: 1rem 1rem;
}

@media (max-width: 600px) {
  * {
    -webkit-overflow-scrolling: touch;
  }

  .landpage {
    height: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .navbar {
    grid-area: 1 / 1 / 2 / 2;
  }
  .header {
    grid-area: 2 / 1 / 4 / 2;
  }
  .imgcontainer {
    grid-area: 4 / 1 / 6 / 2;
  }
  .social.showcase {
    grid-area: 6 / 1 / 7 / 2;
  }

  .navbar {
    padding: 0;
    justify-content: space-evenly;
    width: 100%;
    height: 1rem;
  }
  /* .header {
    padding-left: 0rem;
  } */
  .header h1 {
    font-size: 2.5rem;
  }
  .header h3 {
    margin: 1rem;
  }
  .imgcontainer {
    margin-top: 2rem;
    align-self: center;
    justify-self: center;
  }
  .social.showcase {
    width: 70%;
    height: 1rem;
  }

  .aboutpage {
    height: 100%;
    max-width: 100vw;
    grid-template-areas:
      "head"
      "article"
      "tools";
    grid-template-rows: none;
    row-gap: 1rem;
  }
  .headcontainer {
    background-color: transparent;
    min-height: unset;
  }
  .headcontainer h1 {
    background-color: var(--secondery-color);
    font-size: 2rem;
    min-height: unset;
  }
  .tools.showcase {
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    padding: 0 0 3rem 0;
  }

  .tools.showcase div {
    justify-self: center;
    align-self: center;
  }

  .projectspage {
    grid-template-rows: unset;
    width: 100vw;
    height: unset;
  }
  .projectspage > .projects {
    margin-top: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 3rem;
    margin: 2rem 0 4rem 0;
  }

  .contactpage {
    width: 100vw;
    height: unset;
  }

  .info {
    min-height: unset;
  }
  .info > form > input {
    margin-bottom: 1rem;
  }
  input:focus {
    outline: none;
  }
}
